db.sqlite3
*.log
*.pot
*.pyc
__pycache__
media
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
trolley/__pycache__/__init__.cpython-36.pyc
trolley/__pycache__/settings.cpython-36.pyc
trolley/__pycache__/wsgi.cpython-36.pyc
trolleyApp/__pycache__/__init__.cpython-36.pyc
trolleyApp/migrations/__pycache__/__init__.cpython-36.pyc
venv